[submodule "src/third_party/eigen"]
	path = src/third_party/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "src/third_party/iir"]
	path = src/third_party/iir
	url = https://github.com/berndporr/iir1.git
[submodule "src/third_party/pinocchio"]
	path = src/third_party/pinocchio
	url = https://github.com/stack-of-tasks/pinocchio.git
[submodule "src/third_party/cyclonedds"]
	path = src/third_party/cyclonedds
	url = https://github.com/eclipse-cyclonedds/cyclonedds.git
[submodule "src/third_party/cyclonedds-cxx"]
	path = src/third_party/cyclonedds-cxx
	url = https://github.com/eclipse-cyclonedds/cyclonedds-cxx.git
[submodule "src/third_party/yaml-cpp"]
	path = src/third_party/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "src/third_party/urdfdom_headers"]
	path = src/third_party/urdfdom_headers
	url = https://github.com/ros/urdfdom_headers.git
[submodule "src/third_party/mujoco"]
	path = src/third_party/mujoco
	url = https://github.com/google-deepmind/mujoco.git
